
body {
	background-color: #d1c7e0;
	font-family: 'Philosopher', sans-serif;
}

.container {
	background-color: #e8e1ef;
}

.navbar {
	background-color: #b194dd;
}

.navbarbrand {
	max-width: 50px;
	//padding-right: 200px;
}

#logoImage {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

h1.title {
	margin-top: 50px;
	//margin-bottom: 0;
}

td {
	width: 200px;
}

#jQueryH4Header {
	font-size: 1.5em;
	font-weight: 600;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}